<!-- BEGIN Rigth Side Content Window -->
<div class="panel-panel right col-xs-12 col-sm-12 col-md-3 col-lg-3" id="front-dash-right">

<div class="panel-pane pane-fieldable-panels-pane pane-uuid-cb9d6b0b-fa66-4fc0-9de3-64b190bf3468 front-panel pane-bundle-text"  id="top-links" >
  <div class="pane-content">
    <div class="fieldable-panels-pane">
    <div class="field field-name-field-basic-text-text field-type-text-long field-label-hidden">
      <div class="field-items">
        <div class="field-item even">
          <ul class="nav nav-list">
              <% if user_signed_in? %>
                <li>
                  <%= link_to sufia.notifications_path do %>
                    <span class="icon-wrapper"><i class="fa fa-envelope"></i></span>
                    <%= t("sufia.toolbar.notifications") %>
                    <%= render partial: 'users/notify_number' %>
                  <% end %>
                </li>
                <li>
                  <%= link_to sufia.profile_path(current_user) do %>
                    <span class="icon-wrapper"><i class="fa fa-user"></i></span>
                    <%= current_user.name %>
                  <% end %>
                </li>
                <li>
                  <%= link_to main_app.destroy_user_session_path do %>
                  <span class="icon-wrapper"><i class="fa fa-sign-out"></i></span>
                  <%= t("sufia.toolbar.profile.logout") %>
                  <% end %>
                </li>
              <% else %>
                <li>
                  <%= link_to main_app.new_user_session_path do %>
                    <span class="icon-wrapper"><i class="glyphicon glyphicon-log-in" aria-hidden="true"></i></span> <%= t("sufia.toolbar.profile.login") %>
                  <% end %>
                </li>
              <% end %>

            </ul>
</div></div></div></div>
  </div>


  </div>

  <div class="panel-pane pane-panels-mini pane-database-lookup front-panel"  id="top-links" >
    <div class="pane-title">
      Browse Scholarworks
    </div>
    <div class="pane-content">
      <div class="fieldable-panels-pane">
      <div class="field field-name-field-basic-text-text field-type-text-long field-label-hidden">
        <div class="field-items">
          <div class="field-item even">
            <ul class="nav nav-list">
              <li><a href="/ir/catalog/facet/contributor_sim">Contributor</a></li>
              <li><a href="/ir/catalog/facet/resource_type_sim">Type</a></li>
              <li><a href="/ir/catalog/facet/subject_sim">Subject</a></li>
              <li><a href="/ir/catalog/facet/sponsorship_sim">Department</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>


</div>
<!-- End Right Side Content Window -->
