<!-- BEGIN Rigth Side Content Window -->
<div class="panel-panel right col-xs-12 col-sm-12 col-md-3 col-lg-3" id="front-dash-right">

<div class="panel-pane pane-fieldable-panels-pane pane-uuid-cb9d6b0b-fa66-4fc0-9de3-64b190bf3468 front-panel pane-bundle-text"  id="top-links" >



  <div class="pane-content">
    <div class="fieldable-panels-pane">
    <div class="field field-name-field-basic-text-text field-type-text-long field-label-hidden">
      <div class="field-items">
        <div class="field-item even">
          <ul class="nav nav-list">
              <% if user_signed_in? %>
                <li>
                  <%= link_to sufia.notifications_path do %>
                    <span class="icon-wrapper"><i class="fa fa-envelope"></i></span>
                    <%= t("sufia.toolbar.notifications") %>
                    <%= render partial: 'users/notify_number' %>
                  <% end %>
                </li>
                <li>
                  <%= link_to sufia.profile_path(current_user) do %>
                    <span class="icon-wrapper"><i class="fa fa-user"></i></span>
                    <%= current_user.name %>
                  <% end %>
                </li>
                <li>
                  <%= link_to main_app.destroy_user_session_path do %>
                  <span class="icon-wrapper"><i class="fa fa-sign-out"></i></span>
                  <%= t("sufia.toolbar.profile.logout") %>
                  <% end %>
                </li>
              <% else %>
                <li>
                  <%= link_to main_app.new_user_session_path do %>
                    <span class="icon-wrapper"><i class="glyphicon glyphicon-log-in" aria-hidden="true"></i></span> <%= t("sufia.toolbar.profile.login") %>
                  <% end %>
                </li>
              <% end %>
            <li><a href="https://biblio.csusm.edu/reserves" class="ext" target="_blank"><span class="icon-wrapper"><i class="fa fa-folder"></i></span> Course reserves</a></li>
            <li><a href="https://primo-pmtna01.hosted.exlibrisgroup.com/primo-explore/account?vid=CALS_USM&lang=en_US&section=overview" class="ext" target="_blank"><span class="icon-wrapper"><i class="fa fa-repeat"></i></span> Renew materials/Your Account</a></li>
<li><a href="https://biblio.csusm.edu/groupstudy"><span class="icon-wrapper"><i class="fa fa-group"></i></span> Reserve a Group Study Room</a></li>
<li><a href="https://biblio.csusm.edu/needacomputer/" target="_blank"><span class="icon-wrapper"><i class="fa fa-desktop" aria-hidden="true"></i></span> Need a computer?</a></li>
<li><a href="https://illiad.csusm.edu/"><span class="icon-wrapper"><i class="fa fa-exchange"></i></span> Interlibrary Loan [ILL]</a></li>
<li><a href="/contact-us/"><span class="icon-wrapper"><i class="fa fa-envelope"></i></span> Contact Us</a></li>
<li><a href="/site/external/about-the-library/job-and-internship-opportunities"><span class="icon-wrapper"><i class="fa fa-briefcase" aria-hidden="true"></i></span> Jobs and Internships</a></li>
<li><a href="https://csusmlibrary.uservoice.com/" class="ext" target="_blank"><span class="icon-wrapper"><i class="fa fa-lightbulb-o"></i></span> Your Library Ideas</a></li>
</ul></div></div></div></div>
  </div>


  </div>

</div>
<!-- End Right Side Content Window -->
